<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example form</title>
</head>
<body style="background-color:lightblue; color:white;">
<h1>FORM PAGE bitcheees</h1>


<p>
<form method="POST" action="">
    {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>
    <br>
    <input type = "submit" value = "Submit">
    <input type = "submit" onclick="window.location='{% url 'formok:main' %}'; return false;" value="Cancel">
<!--    <h2>Data:</h2>-->
<!--    <ul>-->
<!--        <li>-->
<!--    <p>Title:-->
<!--    <input type = "text" name = "title" id="title"></p>-->
<!--        </li><li>-->
<!--    <p> Mileage:-->
<!--    <input type = "number" name = "mileage" id="mileage"></p>-->
<!--        </li><li>-->
<!--    <p>Purchase date:-->
<!--    <input type = "date" name = "purchase_date" id="purchase_date"></p>-->
<!--        </li>-->
<!--        </ul>-->
</form>
</p>
</body>
</html>