<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body style="background-color:lightblue; color:white;">
<ul>
    <li><a href="example">Raw output of form.as_table</a></li>
    <li><a href="create">Simple create view</a></li>
    <li><a href="update">Simple update view</a></li>
    <li><a href="validate">Form validation</a>
        (<a href="https://docs.djangoproject.com/en/3.0/ref/forms/validation/" target="_blank">Documentation</a>)
    <li><a href="meow">Cat create view</a></li>
    <li><a href="cat/1/update">Cat update view</a> (The key might be wrong)</li>
    </li>
</ul>
</body>
</html>